

.doc-content 
	max-width: 1000px
	margin: 	 auto
	padding: 	 16px
	overflow:  hidden

.img-wrapper
	display: 				 flex
	justify-content: center
	padding-bottom:  16px

.main-paragraph
	text-indent: 24px

.todo-title
	font-weight: bold
	padding-top: 16px

ul
	padding-left: 24px

.school-wrapper
	padding: 16px

.bold 
	font-weight: bold

.section 
	padding-bottom: 8px

.smaller 
	font-size: 9px

@media (min-width: 768px)
	.doc-content 
		padding: 32px
 
