<div class="folder-icon-grid">
  <div
    *ngFor="let item of files"
    class="folder-icon"
    [ngStyle]="{
      'background-color': item.bg && os === 'windows' ? 'black' : ''
    }"
    (click)="folderIconClicked(item)"
  >
    <div class="img-wrapper">
      <img *ngIf="item.src" src="{{ item.src }}" draggable="false" />

      <app-lottie
        *ngIf="!item.src"
        [animation]="item.name"
        [options]="{ paused: true }"
        draggable="false"
      ></app-lottie>
    </div>
    <div class="name" [style.color]="os === 'mac' ? 'white' : 'black'">
      {{ item.name }}
      <div *ngIf="item.src" [style.fontSize]="'14px'">({{ item.size }})</div>
    </div>
  </div>
</div>
