<div
  class="content-wrapper"
  [ngStyle]="{ height: screenHeight + 'px' }"
  (window:resize)="onResize($event)"
>
  <div class="content">
    <app-lottie
      [ngStyle]="{
        position: 'absolute',
        top: 0,
        bottom: 0,
        left: 0,
        right: 0,
        pointerEvents: 'none'
      }"
      [options]="bgLottieOptions"
      [animation]="'meteor'"
    ></app-lottie>
    <app-desktop-icon (iconClicked)="openDesktopFolder($event)">
    </app-desktop-icon>

    <app-window
      *ngFor="let item of openFiles"
      [project]="item"
      (closed)="windowClosed($event)"
      (click)="setLastClicked(item)"
    >
    </app-window>
  </div>

  <app-taskbar
    [animations]="animations"
    [icons]="icons"
    [openFiles]="openFiles"
    [portfolio]="portfolio"
    (selected)="openFile($event)"
    (maximize)="maximizeWindow($event)"
  >
  </app-taskbar>

  <!-- <app-mac-taskbar></app-mac-taskbar> -->
</div>

<!-- <app-start-up> </app-start-up> -->

<router-outlet></router-outlet>
